<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }}{% else %}ReFraming Ruin{% endif %}</title>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn|Montserrat:400,700' rel='stylesheet' type='text/css'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/justifiedGallery.min.css" rel="stylesheet">
        <link href="/css/swipebox.min.css" rel="stylesheet">
        <link href="/css/reframing-ruin.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="{{ include.body_class }}">
        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '1657828177779148',
              xfbml      : true,
              version    : 'v2.3'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <img src="/img/bt-sm-white.png" alt="FBT logo" height="20">
                    </div>
                </div>
                <p class="navbar-text navbar-right">
                    <a href="/">
                        <i class="fa fa-home"></i>
                        Friends of the Bloomingdale Trail
                    </a>
                </p>
            </div>
        </nav>

